[submodule "Congb/vendor/spdlog"]
	path = Congb/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Congb/vendor/GLFW"]
	path = Congb/vendor/GLFW
	url = https://github.com/Ken-In/glfw
[submodule "Congb/vendor/imgui"]
	path = Congb/vendor/imgui
	url = https://github.com/Ken-In/imgui
